<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
  <script src="./lib/vue-resource-1.3.4.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
  <div id="app">



    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加品牌</h3>
      </div>
      <div class="panel-body form-inline">

        <label>
          Name:
          <input type="text" v-model="name" class="form-control">
        </label>

        <input type="button" value="添加" @click="add" class="btn btn-primary">
      </div>
    </div>



    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{ item.ctime | dateFormat() }}</td>
          <td>
            <a href="" @click.prevent="del(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

 <script>
Vue.filter('dateFormat',function(dateStr, pattern = ""){
	var dt =new Date(dateStr)
	var Y = dt.getFullYear()
	var M = dt.getMonth()+1
	var D = dt.getDate()


	var h =dt.getHours()
	var m  =dt.getMinutes()
	var s  =dt.getSeconds()
	return `${Y}-${M}-${D} ${h}:${m}:${s}`
})



Vue.http.options.root = 'http://www.lovegf.cn:8899/';
// 全局启用emulateJSON
Vue.http.options.emulateJSON = true;
    var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        list: [ // 存放所有品牌列表的数组
        ]
      },
    	

    

    	created(){
    		this.getAllList()
    	},
    methods:{
          // add(){
          // 	var car ={
          // 		id:this.id,name:this.name,ctime:new Date() 
          		
          // 	}
          //  this.list.push(car);
          // this.id = this.name = '';
          // },


          // del(id){
          // 	var index=this.list.findIndex(item =>{
          // 		if(item.id==id){
          //           return true
          // 		}

          // 	})
          // 	 this.list.splice(index, 1)
          // },

          // search(keywords){
          //    	   return this.list.filter(item => {
          // 		 if (item.name.includes(keywords)) {
          // 		// 	String.prototype.includes('要包含的字符串')
          //   // //  如果包含，则返回 true ，否则返回 false
          //          return item

          // 		}

          // 	})

          // },
   			getAllList(){
           	  // 分析：
          // 1. 由于已经导入了 Vue-resource这个包，所以 ，可以直接通过  this.$http 来发起数据请求
          // 2. 根据接口API文档，知道，获取列表的时候，应该发起一个 get 请求
          // 3. this.$http.get('url').then(function(result){})
          // 4. 当通过 then 指定回调函数之后，在回调函数中，可以拿到数据服务器返回的 result
          // 5. 先判断 result.status 是否等于0，如果等于0，就成功了，可以 把 result.message 赋值给 this.list ; 如果不等于0，可以弹框提醒，获取数据失败！
           	this.$http.get('api/getprodlist').then(result =>{
           		var result =result.body
           		console.log(result)
           		if(result.status===0){
           			this.list=result.message

           		}else{
           			alert('获取数据失败！')
           		}
           	})
           },

        add(){
        	// 添加品牌列表到后台服务器
        	// 
          
             this.$http.post('api/addproduct',{name:this.name},{emulateJSON:true}).then(result =>{
             	
             	var result=result.body
             	if(result.status===0){
             		this.getAllList()
             		this.name=''


             	}else{
             		alert('添加失败！')
             	}
             })


        },
        del(id){
        	this.$http.get('api/delproduct/' + id).then(result =>{
        			
        		var result =result.body
        		if(result.status ===0){
                    this.getAllList()
        		}else{
        			alert('删除失败！')
        		}
        	})

        },

    
  }
})
 </script>

</body>

</html>
